.statistics {
  width: 400px;
  margin: 0 auto 35px;
  padding-top: 35px;

  text-align: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 35px;

  font-size: 24px;
  text-transform: uppercase;

  color: black;
}
